.drPhoto img {
  height: 300px;
  width: 300px;
}

.drBody {
  background-color: #f3f5f8;
}

.postForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.selectedImage_profile {
  padding-top: 5%;
}
