.chatbot-container {
  width: 80vw;
  height: 70vh;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  position: relative;
}

.chat-history {
  height: 100%;
  overflow-y: scroll;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f3f5f8;
}
/* #f9f9f9 */
.message {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
}

.user {
  background-color: #000000;
  color: #fff;
  align-self: flex-end;
  margin-right: 0px;
}

.bot {
  background-color: #3498db;
  color: #fff;
  align-self: flex-start;
  margin-left: 0px;
}

.user-input {
  display: flex;
  margin-top: 15px;
}

input.chat-input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-bottom: 20px;
}

.chat-button {
  padding: 10px 15px;
  margin-left: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
}

.chat-button :hover {
  background-color: #2980b9;
}

.bubb-user {
  display: flex;
  align-items: center;
  justify-content: end;
}
.bubb-bot {
  display: flex;
  align-items: center;
  justify-content: start;
}

.chatbot-image-container {
  position: absolute;
  margin-left: 30px;
  top: 0;
  left: 47%;
}

.chatbot-image-chat {
  height: 35px;
}
