.main-container {
  width: 100%;
  height: 100vh !important;
}

.formBox {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 70%;
}

.formBox_fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f5f8;
}
.input_login_field {
  width: 70% !important;
  background-color: white;
}

.button_login_field {
  width: 70% !important;
  background-color: #16a4c3;
}

.create_account_but {
  text-align: center;
}

.signin_logo {
  display: flex;
  justify-content: center;
  margin-bottom: 8%;
}
